*{
    padding: 0;;
    margin: 0;
    /* background-color: rgb(0, 136, 255); */
}


.text {
    min-height: 100vh;
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    background-color: rgb(190, 219, 244);
}

.box{
       /* margin-top: 1%; */
    display: flex;
    flex-direction: row;
   
    /* justify-content: space-between; */
}


.left{
    display: flex;
    height: 95vh;
    width: 20vw;
    flex-direction: column;
    /* float: left; */
    overflow: auto;
}

.right{
    /* background-color: azure; */
      display: flex; 
      flex-direction: column;
      justify-content: space-around;
      height: 95vh;
      width: 80vw;
      overflow: auto;
    }

.textarea{
      height: 90vh;  
      max-width: 80vw;
      overflow-y: auto;
      flex-wrap:nowrap;
      background-color: white;
      font-size: 30px;
      border-radius: 20px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    }


.navbar {

    display: inline-flex;
    /* width: 80vw; */
    height: 5vh;
    align-items: center;
    padding-bottom: 15px;
    padding-top: 15px;
}


button {
    cursor: pointer;
    margin-left: 30px;
    text-decoration: none;
    border: none;
    background-color: rgb(190, 219, 244);
    color: none;
}  

.fa {
    font-size: x-large;
}

#fontstyle{
    display: inline-block;
    background-color: rgb(190, 219, 244);
    width: 15rem;
    height: 3rem;
    font-size: 1rem;
    margin-left: 1rem;
    
}


#fontsize{
    display: inline-flexbox;
    background-color: rgb(190, 219, 244);
    margin-left: 1rem;
    width: 5rem;
    height: 3rem;
    font-size: 1rem;
    /* border: ; */
}


option{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.heading{
    display: block;
    margin-top: 1rem;
margin-bottom: 1rem;
font-size: 2rem;
}

.newnote{

    margin-top: 1rem;
    height: 7vh;
    width: 15vw;
    font-size: 1rem;
    border: 1px solid black;
    border-radius: 20px;
    color: black;
    background-color: rgb(190, 219, 244);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

